.container{
    width: 1440px;
    height: 1500px;
    background-color: #174E87;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
   padding-top: 25px;
}
.top_img{
    width: 150px;
    height: 100px;
    margin-right: 100px;
}
.ad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.logo_txt{
    margin-left: 20px;
    
}
.menu{
    margin-left: 100px;
    margin-right: 100px;
   padding-top: 50px;
}
.locate{
    margin-right: 100px;
    padding-top: 50px;
}
.order{
    margin-right: 100px;
    padding-top: 50px;
}
.about{
    margin-right: 100px;
    padding-top: 50px;
}
.line01{
    justify-content: center;
    background-color:#FBD96E;
    width: 1400px;
    height: 5px;
}
.img1{
    justify-content: center;
    width: 1400px;
    height: 693px;
    margin-left: 20px;
}
.news{
    font-style: normal;
        margin-left: 180px;
        margin-top: 30px;
        color: white;
        font-size: 24px;
        width: 185px;
        height: 50px;
}
.container2{
    display: flex;
    justify-content: center;
    
}
.img_news01{
    width: 353px;
    height: 210px;
    margin-right: 24px;
    margin-top: 20px;
    border-radius: 60px;
}
.img_news02{
    width: 450px;
    height: 266px;
    margin-right: 24px;
    border-radius: 60px;
}
.img_news03{
    width: 353px;
    height: 210px;
    border-radius: 60px;
    margin-top: 20px;
}
.border1{
    border: 6px solid#FBD96E;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 11px;
    height: 369px;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    margin-top: 70px;
   background-color: rgb(14, 19, 90);
   color: white;
}
.box02{
   font-size: 18px;
    display: flex;
    margin-left: 376px;
}
.inform1{
    width: 152px;
    height: 28px;
    margin-right: 40px;
}
.inform2{
    width: 152px;
    height: 28px;
    margin-right: 40px;
}
.apply{
    width: 152px;
    height: 28px;
    margin-right: 40px;
}
.word01{
    font-size: 18px;
    width: 735px;
    height: 28px;
    margin-left: 352px;
  
   
}
a{
    color: white;
}